{% extends "base.html" %}

{% block title -%}
	Download a File
{% endblock title %}

{% block content %}

    <table>
        <th style="text-align: left; font-size: large; width:300px">File Name</th>
        <th style="text-align: left; font-size: large; width:100px">File Size</th>

        {% for i in range(0, upload_file_name | length) %}
            <tr>
                <td style="width:300px">
                    <a href="{{ url_for('wiki.download', filename=upload_file_name[i]) }}">{{ upload_file_name[i] }}</a></td>
                <td style="width:100px">{{ upload_file_size[i] }}</td>
            </tr>
        {% endfor %}
    </table>

{% endblock %}